* {
  box-sizing: border-box;
}
body {
  color: #1d2935;
  background-color: whitesmoke;
  font-family: "Helvetica";
}
p {
  padding: 0;
  margin: 0;
}


.game {
  display: block;
  margin: 48px auto;
  margin-top: 24px;
  border-radius: 5px;
  display: block;
  width: 250px;
  font-size: 30px;
  padding: 8px 12px;
}
.game:focus {
  outline: none;
}

.current-word {
  margin-top: 24vh;
  text-align: center;
  font-size: 40px;
}
.next-word {
  opacity: 0.8;
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
}

.time {
  font-size: 32px;
  font-style: normal;
}
.seconds {
  text-align: center;
  font-style: italic;
  font-size: 18px;
}