* {
  box-sizing: border-box;
}
body {
  transition: all 0.3s;
  color: #1d2935;
  background-color: whitesmoke;
  font-family: "Helvetica";
}
body.dark {
  color: whitesmoke;
  background-color: #1d2935;;
}
p {
  padding: 0;
  margin: 0;
}
*::selection {
  background: #2ecc71;
}
.light-dark {
  transition: filter 0.3s;
  position: absolute;
  top: 24px;
  left: 24px;
  cursor: pointer;
  border: none;
  outline: none;
  background: url("imgs/sun.svg");
  background-size: cover;
  width: 36px;
  height: 36px;
}
.light-dark.dark {
  filter: invert(90%);
}


.game {
  transition: border 0.3s;
  text-align: left;
  display: block;
  margin: 48px auto;
  margin-top: 24px;
  border-radius: 5px;
  display: block;
  width: 250px;
  font-size: 30px;
  padding: 8px 12px;
  border: 3px solid #1d2935;
}
.game.dark {
  border: 3px solid whitesmoke;
  background-color: #11181f;
  color: whitesmoke
}
.game:focus {
  outline: none;
}

.current-word {
  margin-top: 24vh;
  text-align: center;
  font-size: 40px;
}
.next-word {
  opacity: 0.8;
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
}

.time {
  font-size: 32px;
  font-style: normal;
}
.seconds {
  text-align: center;
  font-style: italic;
  font-size: 18px;
}