body {
  font-family: "Helvetica";
}
p {
  padding: 0;
  margin: 0;
}

.game {
  display: block;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 5px;
  display: block;
  width: 250px;
  height: 50px;
  font-size: 30px;
  padding: 5px 15px;
}

input:focus {
  outline: none;
}
.best-score-box {
  font-size: 22px;
  position: absolute;
  top: 16px;
  left: 16px;
}
.last-score-box {
  font-size: 22px;
  position: absolute;
  top: 64px;
  left: 16px;
}


.current-box {
  text-align: center;
  margin: 50px auto;
  font-size: 32px;
  padding: 5px;
}

.score {
  text-align: center;
  margin: 50px auto;
  font-size: 32px;
}

.time {
  text-align: center;
  margin: 50px auto;
  font-size: 32px;
}
